<main>
  <h1>Pago pendiente... ⌛</h1>
  <p>
    Tu pago está <b>pendiente de confirmación</b> por parte de la entidad
    bancara. Esto suele demorar unos minutos. Si no se confirma en un plazo de
    24 horas, el pedido será <b>cancelado automáticamente</b>.
  </p>
  <p>
    Si necesitas ayuda, contacta primero a tu banco. Si todo está correcto, por
    favor comunícate con nosotros para analizar tu situación.
  </p>

  <div>
    <a href="/contacto" class="page-btn">Contactar Soporte</a>
  </div>
</main>
