body {
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 1.5em;
  text-decoration: underline;
}

.product-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px; 
}

.product-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px; 
  width: 250px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.product-details h3 {
  margin: 0 0 10px;
  font-size: 1.2em;
  text-align: center;
}

.product-details p {
  margin: 5px 0;
  text-align: center;
}

.product-link {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.product-link:hover {
  background-color: #0056b3;
}

.product-form {
  max-width: 400px;
  margin: 20px auto;
  padding: 15px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group .form-control {
  width: 100%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

.form-group .form-control:focus {
  border-color: #007bff;
  outline: none;
}

.error {
  color: #d9534f;
  font-size: 0.8em;
}

.loading-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}
.select-arrow {
  -webkit-appearance: none;  
  -moz-appearance: none;    
  appearance: none;        
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="none"><path d="M5 7L10 12L15 7H5Z" fill="%23222"></path></svg>') no-repeat right center;
  background-size: 16px 16px;
  padding-right: 30px; 
  font-size: 1em;
}
.text-black {
  color: black;
}

.text-danger {
  color: red;
}

.detalle-input {
  height: 100px;  /* Ajusta esta propiedad para controlar la altura */
  resize: none;  /* Opcional: evita que el campo sea redimensionable por el usuario */
}
