main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2.5em;
  margin: 20px 0 !important;
}

.product-section {
  display: flex;
  justify-content: center;
  align-items: stretch;
  background-color: #fff;

  max-width: 1050px;
  gap: 30px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 8px 8px 10px #5353536e;
}

.product-section div:first-child {
  display: flex;
  flex-direction: column-reverse;
}

.product-section img {
  width: 500px;
  object-fit: contain;
  flex: 1;
}

.product-section .detail-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 400px;
  border: 2px solid black;
  border-radius: 15px;
  padding: 20px;
  min-height: 600px;
  background-image: linear-gradient(
    135deg,
    transparent 0%,
    #2d778c69 5%,
    transparent 20%,
    #123c4808 25%,
    transparent 45%,
    #2d778c38 50%,
    transparent 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
}

.description {
  font-size: 0.9em;
}

.add-to-cart-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.product-section h2 {
  font-size: 1.5em;
}

.product-section .price {
  font-size: 2.1em;
}

@media (max-width: 1041px) {
  .product-section {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 8px 8px 10px #5353536e;
  }

  .product-section img {
    width: 100%;
    object-fit: contain;
  }

  .product-section .detail-section {
    width: 100%;
    margin-top: 20px;
    border: none;
    min-height: 600px;
  }
}

@media (max-width: 585px) {
  .price {
    text-align: center;
  }

  .info-page img {
    width: 100%;
    height: 300px;
  }

  .product-section {
    padding: 5px;
  }

  .product-section .detail-section {
    margin-top: 0;
    padding: 10px;
  }

  .product-section h1,
  .product-section h2,
  .product-section li,
  .product-section p {
    color: #000;
  }
}
