<main>
  <div class="main-card">
    <img
      src="../../../assets/img/imagen-portada.webp"
      alt="Imagen central de una persona andando en bicicleta"
    />
    <div>
      <h1>Aventura y Libertad en Dos Ruedas</h1>
      <label class="centered-text">
        En Tienda Full Bike, creemos que cada viaje en bicicleta es una nueva
        oportunidad para descubrir el mundo. Desde bicicletas de montaña hasta
        modelos urbanos elegantes, ofrecemos una amplia gama de bicicletas
        diseñadas para cada tipo de ciclista. ¡Equípate con lo mejor y siéntete
        libre en cada ruta!
      </label>
      <a class="page-btn" routerLink="/productos">Comprar</a>
    </div>
  </div>
</main>
