<main>
  <h1>Quienes somos</h1>
  <p>
    Desde en Córdoba, Argentina, Tienda Full Bike nace para 
    transformar el amor por el ciclismo en una experiencia única. 
    Somos un equipo de apasionados del deporte sobre dos ruedas, dedicados 
    a ofrecer soluciones personalizadas que se adaptan tanto a ciclistas 
    profesionales como a aquellos que recién comienzan a explorar el mundo 
    de las bicicletas. Nuestra propuesta es más que una simple venta, 
    ofrecemos un estilo de vida, una comunidad y un compromiso con todos 
    nuestros clientes.
  </p>
  <h2>Nuestros Valores</h2>
  <p>
    Pasión, compromiso y sostenibilidad son los pilares sobre los que 
    construimos cada uno de nuestros servicios. Nos esforzamos por ofrecer 
    un excelente servicio de venta y postventa, siempre con una atención 
    personalizada, brindando resultados que superen las expectativas de nuestros 
    clientes. Estamos comprometidos con el respeto, la honestidad y la eficiencia 
    en cada acción, y buscamos la mejora continua, siempre alineados con nuestra 
    responsabilidad social, promoviendo empleos inclusivos y posibilidades laborales 
    para personas que compartan nuestros mismos valores.
  </p>
  <h2>Misión y visión</h2>
  <p>
    Nuestra misión es mucho más que vender bicicletas. Queremos ser parte de cada 
    aventura, promover un estilo de vida saludable y sostenible, y fomentar la conexión 
    con la naturaleza. Las bicicletas son nuestro medio, pero el verdadero objetivo es 
    ayudarte a explorar el mundo a tu propio ritmo. Ya seas un ciclista experimentado o 
    un novato con ganas de empezar, aquí encontrarás las herramientas para hacer de cada 
    pedaleada una experiencia única.

    Nuestra visión es crear un espacio inclusivo, donde cada ciclista pueda encontrar el 
    producto perfecto para su estilo de vida. Estamos convencidos de que las bicicletas 
    no son solo vehículos, sino que son compañeras de vida que te llevarán a descubrir 
    nuevas rutas, mejorar tu salud física y mental, y conectar con una comunidad global 
    de ciclistas.
  </p>
  <h2>Propuesta Innovadora</h2>
  <p>
    Además de ofrecerte productos de calidad, nos enorgullece presentarte eventos 
    exclusivos y experiencias inmersivas para ciclistas. Desde rutas organizadas 
    por nuestra ciudad hasta talleres sobre mantenimiento y cuidado de bicicletas. 
    En Tienda Full Bike, cada cliente es un amigo y cada pedaleada un paso hacia una 
    vida mejor.
  </p>
  <section>
    <h2>Nosotros</h2>
    <p>Te presentamos el equipo que hace posible a Tienda Full Bike:</p>
    <ul class="lista-desarrolladores">
      @for (member of members; track member.name) {
      <li>
        <a [href]="'https://github.com/' + member.link" target="_blank">
          <h3>{{ member.name }}</h3>
          <img
            [src]="'../../../assets/profiles/' + member.img"
            [alt]="'Imagen de perfil de ' + member.name"
            [title]="'Repositorio de ' + member.name"
          />
        </a>
        <p class="cargo">{{ member.role }}</p> 
      </li>
      }
    </ul>
  </section>
  <img
    src="../../../assets/bicicletas.jpg"
    alt="Imagen de nuestro salon de ventas con bicicletas"
  />
</main>
