.footer {
  background-color: #2b3035;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 280px; /* Espacio entre redes y app */
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.social-media ul {
  display: flex;
  gap: 15px;
  justify-content: center;
  padding-left: 0;
  list-style: none;
  margin: 0;
}

.social-media p,
.app-download p {
  margin: 0 0 10px 0;
  font-weight: bold;
}
/* Iconos redes */
.social-media ul li fa-icon {
  font-size: 25px; 
  transition: transform 0.2s ease-in-out;
}

.social-media ul li fa-icon:hover {
  transform: scale(1.1); 
}
.play-badge {
  width: 120px;
  height: auto;
  transition: transform 0.2s ease-in-out;
}

.play-badge:hover {
  transform: scale(1.05);
}

.phone {
  padding-top: 10px;
  text-align: center;
}

/* Estilo QR */
.download-container {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
}

.qr-code {
  width: 80px;
  height: auto;
  transition: transform 0.2s ease-in-out;
}

.qr-code:hover {
  transform: scale(1.05);
}
