<footer class="footer">
  <div class="footer-content">
    <!-- Redes sociales -->
    <div class="social-media">
      <p>¡Síguenos en redes sociales!</p>
      <ul>
        <li>
          <a href="https://www.facebook.com/" target="_blank">
            <fa-icon [icon]="faFacebook"></fa-icon>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/" target="_blank">
            <fa-icon [icon]="faTwitter"></fa-icon>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/" target="_blank">
            <fa-icon [icon]="faInstagram"></fa-icon>
          </a>
        </li>
      </ul>
      <p class="phone">Teléfono: +54 (351) 456-7890</p>
    </div>

    <!-- Descarga la app -->
    <div class="app-download">
      <p>Descargá nuestra app móvil</p>
      <a
        href="https://play.google.com/store/apps/details?id=com.ejemplo.tienda"
        target="_blank"
        rel="noopener"
      >
        <img
          src="assets/google-play-badge.png"
          alt="Disponible en Google Play"
          class="play-badge"
        />
      </a>
    </div>
  </div>
</footer>
